.jumbotron {
	padding: 0px;
}

#form-nuevo {
    padding: 30px;
}

.separa_boton {
    margin-left: .5em;
    margin-right: .5em;
}

.acciones {
    margin-left: .1em;
    margin-right: .1em;
}

#consultar {
    display: block;
    float: left;
    margin-left: .3em;
    margin-right: .3em;
    padding-left: .8em;
    padding-right: .8em;
    color: #786ab6ab;
    transition: 300ms;
}

#consultar:hover {
    color: #2f00ff;
}

#actializar {
    display: block;
    float: left;
    margin-left: .3em;
    margin-right: .3em;
    padding-left: .8em;
    padding-right: .8em;
    color: #e0a17793;
    transition: 300ms;
}

#actializar:hover {
    color: #ff6600f3;
}

#borrar {
    display: block;
    float: left;
    margin-left: .3em;
    margin-right: .3em;
    padding-left: .8em;
    padding-right: .8em;
    color: #cf6266ab;
    transition: 300ms;
}

#borrar:hover {
    color: #ff0008;
}

.centrar {
    text-align: center;
}

.moverBoton {
    padding-left: 1em;
}

* {box-sizing: border-box}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
