<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron centrar">

        <div class="tab">
            <button class="tablinks" [routerLink]="['/empleado/nuevo']" [routerLinkActive]="['activo']">Nuevo</button>
            <button class="tablinks active" [routerLink]="['/empleado/buscar']" [routerLinkActive]="['activo']">Buscar</button>
        </div>

        <div id="Buscar" class="tabcontent">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="centrar">
                                    Clave De Empleado <br>
                                    <input type="text" class="form-control" (keypress)="soloNumeros($event)" (keyup)="recontruir(clave.value, 1)"
                                        #clave>
                                </th>
                                <th class="centrar">
                                    Nombre <br>
                                    <input type="text" class="form-control" [ngModel]="nombreFiltro|uppercase"
                                        (ngModelChange)="nombreFiltro=$event" (keypress)="soloLetras($event)" (keyup)="recontruir(nombre.value, 2)"
                                        #nombre>
                                </th>
                                <th class="centrar">
                                    Rol <br>
                                    <select class="form-control" (change)="recontruir(rol.value, 3)" #rol>
                                        <option value="">Seleccione...</option>
                                        <option value="CHOFER">CHOFER</option>
                                        <option value="CARGADOR">CARGADOR</option>
                                        <option value="AUXILIAR">AUXILIAR</option>
                                    </select>
                                </th>
                                <th class="centrar">
                                    Tipo <br>
                                    <select class="form-control" (change)="recontruir(tipo.value, 4)" #tipo>
                                        <option value="">Seleccione...</option>
                                        <option value="INTERNO">INTERNO</option>
                                        <option value="EXTERNO">EXTERNO</option>

                                    </select>
                                </th>
                                <th class="centrar">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empleado of empleados; index as i">
                                <td>{{empleado.clave}}</td>
                                <td>{{empleado.nombre}}</td>
                                <td>{{empleado.rol}}</td>
                                <td>{{empleado.tipo}}</td>
                                <td>
                                    <div class="moverBoton">
                                        <a id="actializar" [routerLink]="['/empleado/modificar', empleado.clave]"><i
                                                class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                                        <a id="borrar" (click)="preguntarBorrar(i)"><i class="fa fa-times fa-2x"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>