<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">

        <div class="tab">
        </div>

        <div id="MovNuevo" class="tabcontent">
            Generar Nomina <br>
            <div class="tam1">
                <input type="month" class="form-control" name="mes" value={{fechaHoy}} #fecha (change)="cambiarFecha(fecha.value)"><br>
                <button class="btn btn-primary" (click)="generarNomina()">Generar</button>
            </div>
        </div>
    </div>
</div>