* {
	font-size: 1.5rem;
}

#content {
	background: #E03137;
	border-radius: 2px;
	background: white;
	padding: 0px;
}

#header {
	background: #E03137;
	color: white;
	margin: 0px;
	height: 90px;
	line-height: 90px;
}

#header h1 {
	display: block;
	line-height: 55px;
	font-weight: bold;
	font-size: 30px
}

#cine {
	font-size: 4rem;
    line-height: 1.3em;
    padding-right: .3em;
    float: left;
}

#nav {
	padding: 0px;
	margin: 0px;
	background: #e03137ab;
}

#nav ul {
	margin: 0px;
	list-style: none;
	padding-left: 0px;
}

#nav ul li {
	float: left;
	margin-right: 0px;
}

#nav ul li a {
	display: block;
	color: white;
	height: 35px;
	line-height: 33px;
	padding-left: 10px;
	padding-right: 10px;
	transition: 300ms;
}

#nav ul li a:hover{
	text-decoration: none;
	background: #E03137;
}

#footer {
	margin-top: 40px;
	padding-top: 10px;
	border-top: 1px solid #eee;
	color: grey;
}

.activo {
    text-decoration: none !important;
    background: #E03137;
    border-bottom: 4px solid rgb(189, 19, 19) !important;
}
