<div id="content" class="col-xs-12">
	<header id="header" class="col-lg-12">
		<h1><i id="cine" class="fa fa-film" aria-hidden="true"></i> {{ title }}</h1>
	</header>

	<nav id="nav" class="col-lg-12">
		<ul>
			<li><a [routerLink]="['/home']" [routerLinkActive]="['activo']"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
			<li><a [routerLink]="['/empleado']" [routerLinkActive]="['activo']">Empleados</a></li>
			<li><a [routerLink]="['/movimiento']" [routerLinkActive]="['activo']">Captura de movimientos</a></li>
			<li><a [routerLink]="['/generar-nomina']" [routerLinkActive]="['activo']">Nomina</a></li>
		</ul>
	</nav>

	<section id="main" class="col-lg-12">
		<!-- Componente actual -->
		<router-outlet></router-outlet>
	</section>

	<footer id="footer" class="col-lg-12">
		<p>Rinku&reg;</p>
	</footer>
</div>