<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">

        <div class="tab">
            <button class="tablinks" [routerLink]="['/movimiento/nuevo']" [routerLinkActive]="['activo']">Nuevo</button>
            <button class="tablinks" [routerLink]="['/movimiento/buscar']" [routerLinkActive]="['activo']">Buscar</button>
        </div>

        <div id="MovNuevo" class="tabcontent">

            <form #formMovimientoActualizar="ngForm" (ngSubmit)="onSubmitActualizar(formMovimientoActualizar)" id="form-mov-actualizar"
                autocomplete="off">
                <div class="form-group row">
                    <label class="col-md-1 col-form-label" for="clave">Clave</label>
                    <div class="col-md-2">
                        <input type="text" #clave="ngModel" name="clave" class="form-control" [(ngModel)]="movimiento.clave"
                            (keypress)="soloNumeros($event); pulsarEnter($event)" (blur)="consultarEmpleado()" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-1 col-form-label" for="nombre">Nombre</label>
                    <div class="col-md-6">
                        <input type="text" #nombre="ngModel" name="nombre" class="form-control" [(ngModel)]="movimiento.nombre"
                            disabled required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-1 col-form-label" for="rol">Rol</label>
                    <div class="col-md-2">
                        <input type="text" #rol="ngModel" name="rol" class="form-control" [(ngModel)]="movimiento.rol"
                            disabled required>
                    </div>

                    <label class="col-md-1 col-md-offset-1 col-form-label" for="tipo">Tipo</label>
                    <div class="col-md-2">
                        <input type="text" #tipo="ngModel" name="tipo" class="form-control" [(ngModel)]="movimiento.tipo"
                            disabled required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-1 col-form-label" for="fecha">Fecha</label>
                    <div class="col-md-3">
                        <!-- <input type="date" class="form-control" name="fecha" [value]="movimiento.fecha | date:'yyyy-MM-dd'" (input)="movimiento.fecha=$event.target.valueAsDate" #fecha (change)="cambiarFecha(fecha.value)" required/> -->
                        <input type="date" class="form-control" name="fecha" [value]="movimiento.fecha | date:'yyyy-MM-dd'"
                            #fecha (change)="cambiarFecha(fecha.value)" required />
                    </div>
                    <label class="col-md-1 col-form-label" for="horasTrabajadas">Horas Trabajadas</label>
                    <div class="col-md-2">
                        <input type="number" #horasTrabajadas="ngModel" name="horasTrabajadas" class="form-control"
                            [(ngModel)]="movimiento.horasTrabajadas" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="col-form-label" for="cantidadEntrega">Cantidad de entregas</label>
                        <div>
                            <input type="number" #cantidadEntrega="ngModel" name="cantidadEntrega" class="form-control tam1"
                                [(ngModel)]="movimiento.cantEntregas" required>
                        </div>
                    </div>
                    <div *ngIf="movimiento.rol==='AUXILIAR'" class="col-md-4">
                        <label class="col-md-12 col-form-label">Cubrio turno</label>
                        <div class="col-md-7">
                            <select #cubrio="ngModel" name="cubrio" class="form-control" [(ngModel)]="movimiento.cubrio">
                                <option value="0">No</option>
                                <option value="1">CHOFER</option>
                                <option value="2">CARGADOR</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <button class="btn btn-sm btn-primary separa_boton" type="submit" [disabled]="!formMovimientoActualizar.form.valid">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Actualizar</button>
                </div>

            </form>
        </div>
    </div>
</div>