.jumbotron {
	padding: 0px;
}

#MovNuevo {
    padding: 30px;
}

.separa_boton {
    margin-left: .5em;
    margin-right: .5em;
}

.tam1 {
    width: 11em;
}

* {box-sizing: border-box}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
