<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">

        <div class="tab">
            <button class="tablinks" [routerLink]="['/empleado/nuevo']" [routerLinkActive]="['activo']">Nuevo</button>
            <button class="tablinks" [routerLink]="['/empleado/buscar']" [routerLinkActive]="['activo']">Buscar</button>
        </div>

        <div id="Modificar" class="tabcontent">
            <form #formActualizar="ngForm" (ngSubmit)="onSubmitActualizar(formActualizar)" id="form-actualizar"
                autocomplete="off">
                <div class="form-group row">
                    <label class="col-md-1 col-form-label" for="clave">Clave</label>
                    <div class="col-md-2">
                        <input type="text" #clave="ngModel" name="clave" class="form-control" [(ngModel)]="empleado.clave"
                            disabled />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label" for="nombre">Nombre</label>
                    <div class="col-md-6">
                        <input type="text" #nombre="ngModel" name="nombre" class="form-control" [ngModel]="empleado.nombre|uppercase"
                            (ngModelChange)="empleado.nombre=$event" (keypress)="soloLetras($event)" placeholder="Ej. MARTIN JIMENEZ VALUENZUELA"
                            required />
                        <span class="label label-danger" *ngIf="!nombre.valid && nombre.touched">Entre un
                            nombre</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-1 col-form-label">Rol</label>
                    <div class="col-md-3 col-form-label">
                        <div class="form-check">
                            <input class="form-check-input" id="radio1rol" name="radiosrol" type="radio" value="1"
                                [(ngModel)]="empleado.rol" />
                            <label class="form-check-label" for="radio1rol"> Chofer </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="radio2rol" name="radiosrol" type="radio" value="2"
                                [(ngModel)]="empleado.rol" />
                            <label class="form-check-label" for="radio2rol"> Cargador </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="radio3rol" name="radiosrol" type="radio" value="3"
                                [(ngModel)]="empleado.rol" />
                            <label class="form-check-label" for="radio3rol"> Auxiliar </label>
                        </div>
                    </div>
                    <label class="col-md-1 col-form-label">Tipo</label>
                    <div class="col-md-3 col-form-label">
                        <div class="form-check">
                            <input class="form-check-input" id="radio1tipo" name="radiostipo" type="radio" value="1"
                                [(ngModel)]="empleado.tipo" />
                            <label class="form-check-label" for="radio1tipo"> Interno </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="radio2tipo" name="radiostipo" type="radio" value="2"
                                [(ngModel)]="empleado.tipo" />
                            <label class="form-check-label" for="radio2tipo"> Externo </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <button id="btnActualizar" class="btn btn-sm btn-primary" type="submit" [disabled]="!formActualizar.form.valid">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>