.centrar {
    text-align: center;
}

.btn-esp {    
    max-width: 20em;
    background-color: #e03137ab;
    border: 0px;
}

.btn-esp:hover {
    background-color: #E03137;
    transition: 300ms;
}
