<div class="col-lg-10 col-lg-offset-1">
  <div class="jumbotron centrar">
    <h2>{{ titulo }}</h2>
    <p>Que decia realizar:</p>
    <p align="center">
      <a [routerLink]="['/empleado']" [routerLinkActive]="['activo']" class="btn btn-lg btn-danger btn-block btn-esp">Empleados</a>
      <a [routerLink]="['/movimiento']" [routerLinkActive]="['activo']" class="btn btn-lg btn-primary btn-block btn-esp">Captura de moviminetos</a>
      <a [routerLink]="['/generar-nomina']" [routerLinkActive]="['activo']" class="btn btn-lg btn-primary btn-block btn-esp">Nomina</a>
    </p>
  </div>
</div>
